importFrom("Kendall", "MannKendall")
importFrom("circular", "circular", "mean.circular", "sd.circular", "rho.circular")
importFrom("graphics", "arrows", "text")
importFrom("stats", "as.dist", "cmdscale", "dist", "model.matrix")
importFrom("utils", "combn", "setTxtProgressBar", "txtProgressBar")
importFrom(Rcpp, evalCpp)
useDynLib(ecotraj)

# Export all names
exportPattern(".")